@media screen and (max-width: 768px) {
  #filter-label {
    font-size: 1.2rem;
    padding: 5px;
    background-color: aliceblue !important;
  }
  .task-filter-container {
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: aliceblue !important;
  }

  .task-filter-container h3 {
    background-color: aliceblue !important;
  }

}